.chart {
  &-container {
    position: relative;
    height: 35vw;
    max-height: 565px;
    margin: 0 auto;

    @include mq(tab) {
      height: 42vw;
      width: 85vw;
    }

    @include mq(phone) {
      display: none;
    }
  }

  &-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
