.weather {
  padding: 2rem 0;

  @include mg(medium) {
    text-align: center;
  }

  .heading-secondary {
    span {
      display: block;
    }
  }

  .current-weather {
    margin-bottom: 3rem;

    &__body {
      display: flex;
      align-items: center;

      @include mg(medium) {
        justify-content: center;
      }
    }

    &__img {
      margin-right: 2rem;
    }

    &__temp {
      margin-bottom: 1rem;
    }
  }
}
